ChompChamps/.DS_Store
*.o
src/.DS_Store
.DS_Store
src/player1
src/player1
src/player2
src/testPlayer
src/view
src/master
src/testPlayer
src/player_greedy
.DS_Store
src/player2
src/player2
src/player_random
src/.bash_history
src/.config/PVS-Studio/PVS-Studio.lic
src/PVS-Studio.log
src/report.tasks
src/strace_out
src/strace_output.log
/src/logs
